<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652310077439-p0jhhk0ns7ktln7ts1ofseo9ffpclj8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652310077439-p0jhhk0ns7ktln7ts1ofseo9ffpclj8e</string>
	<key>API_KEY</key>
	<string>AIzaSyCmU34_nv8Ax55x1kwots05IF4T7cLmGww</string>
	<key>GCM_SENDER_ID</key>
	<string>652310077439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khawi</string>
	<key>PROJECT_ID</key>
	<string>khawo-fluuter-we</string>
	<key>STORAGE_BUCKET</key>
	<string>khawo-fluuter-we.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652310077439:ios:e3e3d8f895ed863b1551ca</string>
</dict>
</plist>